<h1>Listado de usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Username</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.username %></td>
        <td><%= usuario.facebook %></td>
        <td><%= usuario.twitter %></td>
        <td><%= link_to 'Mostrar', usuario %></td>
        <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Eliminar', usuario, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registro', new_usuario_path %>
