<div class="container">
  <div class="content">

    <h1 align="center">Sistema de Eventos Móvil</h1>
    <h3 align="center">Eventos y Organizaciones</h3>
    <p>&nbsp;</p>
    <h2 align="center">Editar Usuario</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div align="center"><%= devise_error_messages! %></div>

      <div align="center"><%= f.label 'Nombre' %><br />
      <%= f.text_field :nombre, autofocus: true, :class => "form_control" %></div>

      <div align="center"><%= f.label 'Nombre de Usuario' %><br />
      <%= f.text_field :username, :class => "form_control"  %></div>

      <div align="center"><%= f.label 'Correo Electrónico' %><br />
      <%= f.email_field :email, :class => "form_control"  %></div>

      <div align="center"><%= f.label 'Imagen' %><br />
      <%= f.file_field :foto, :class => "form_control"  %></div>

    <p>&nbsp;</p>
      <div align="center"><%= f.label 'Facebook' %><br />
      <%= f.text_field :facebook, :class => "form_control"  %></div>
      <div align="center"><%= f.label 'Twitter' %><br />
      <%= f.text_field :twitter, :class => "form_control"  %></div>
    <p>&nbsp;</p>

  <div align="center"><%= f.label 'Contraseña' %> <i>(déjela en blanco si no quiere cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div align="center"><%= f.label 'Confirmar contraseña' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div align="center"><%= f.label 'Contraseña actual' %> <i>(se necesita su contraseña actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div align="center"><%= f.submit "Guardar Cambios" %></div>

<% end %>

    <!-- end .content --></div>
  <!-- end .container --></div>

<%= link_to 'Atrás', usuarios_path %>
