<div class="container">
  <div class="content">

    <h1 align="center">Sistema de Eventos M칩vil</h1>
    <h3 align="center">Eventos y Organizaciones</h3>
    <p>&nbsp;</p>
    <h2 align="center">Registro de Nuevo Usuario</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  	<div align="center"> <%= devise_error_messages! %> </div>

  	<form role="form">
	<div class="form-group">

		  <div align="center"><%= f.label 'Nombre' %><br />
		  <%= f.text_field :nombre, autofocus: true, :class => "form_control" %></div>

		  <div align="center"><%= f.label 'Nombre de Usuario' %><br />
		  <%= f.text_field :username, :class => "form_control"  %></div>

		  <div align="center"><%= f.label 'Correo Electr칩nico' %><br />
		  <%= f.email_field :email, :class => "form_control"  %></div>

		  <div align="center"><%= f.label 'Imagen' %><br />
		  <%= f.file_field :foto, :class => "form_control"  %></div>

    <p>&nbsp;</p>
		  <div align="center"><%= f.label 'Facebook' %><br />
		  <%= f.text_field :facebook, :class => "form_control"  %></div>
		  <div align="center"><%= f.label 'Twitter' %><br />
		  <%= f.text_field :twitter, :class => "form_control"  %></div>
    <p>&nbsp;</p>

  <div align="center"><%= f.label 'Contrase침a' %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form_control"  %></div>

  <div align="center"><%= f.label 'Confirmar contrase침a' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form_control"  %></div>
    </div>
 		 <div align="center"><%= f.submit "Registrar" %></div>
 	
 	</form>
<% end %>
</div></div>

