    <h1 align="center">Sistema de Eventos Móvil</h1>
    <h3 align="center">Eventos y Organizaciones</h3>
    <p>&nbsp;</p>
    <h2 align="center">Editar Evento</h2>

<%= form_for(@evento) do |f| %>
  <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% @evento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div align="center", class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div align="center", class="field">
    <%= f.label 'Descripción' %><br>
    <%= f.text_area :descripcion %>
  </div>

  <% #select para el establecimiento  %>
  <div align="center", class="field">
    <%= f.label :establecimiento_id %><br>
    <%= f.collection_select :establecimiento_id, @usuario.establecimientos, :id, :nombre, prompt: 'Seleccione el establecimiento' %>
  </div>
  <p>&nbsp;</p>

  <div align="center", class="field">
    <%= f.label "Horario" %><br>
    <%= f.datetime_select :horario %>
  </div>

<%= f.fields_for :ImagenEventos do |builder| %>

    <% if builder.object.new_record? %>

      <%= builder.label :foto, "Seleccione Imagen" %>
      <%= builder.file_field :foto %>

    <% end %>

<% end %>  



  <div align="center", class="actions">
    <%= f.submit 'Guardar' %>
  </div>
<% end %>


<%= link_to 'Show', @evento %>
<%= link_to 'Atras', root_path %>
