<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @usuario.foto %>
</p>

<p>
  <strong>Contrasena:</strong>
  <%= @usuario.contrasena %>
</p>

<p>
  <strong>Username:</strong>
  <%= @usuario.username %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @usuario.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @usuario.twitter %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
