<style type="text/css">
<!--
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px;
}


.container {
	width: 1500px;
	background: #FFF;
	margin: 0 auto;
}

.content {

	padding: 10px 0;
}


-->
</style></head>

<body>

<div class="container">
  <div class="content">
    <table width="1500" height="443" border="0">
      <tr>
        <td width="360">
			<p>
			  <%= @usuario.nombre %>
			</p>

			<p>
			  <strong>Foto:</strong>
			  <%= @usuario.foto %>
			</p>

			<p>
			  <strong>Username:</strong>
			  <%= @usuario.username %>
			</p>

			<p>
			  <strong>Facebook:</strong>
			  <%= @usuario.facebook %>
			</p>

			<p>
			  <strong>Twitter:</strong>
			  <%= @usuario.twitter %>
			</p>
			<p align="center">&nbsp;</p>
			<p align="center">&nbsp;</p>
			<h4 align="center">Establecimientos Asociados</h4>
			<table>
				<tr>	
						<td width="230"><strong>Nombre</strong></td>
						<td width="100"><%= %></td>
						<td width="100"><%= %></td>
						<td width="100"><%= %></td>
				</tr>
				<% @establecimientos.each do |establecimiento| %>
					  <tr>
						<td width="230"><%= establecimiento.nombre %></td>
						<td width="100"><%= link_to 'Mostrar', establecimiento %></td>
						<td width="100"><%= link_to 'Editar', edit_establecimiento_path(establecimiento) %></td>
						<td width="100"><%= link_to 'Eliminar', establecimiento, method: :delete, data: { confirm: '¿Está segur@?' } %></td>
					  </tr>
					<% end %>
					<td width="117">&nbsp;</td>
				</tr>
			</table>
		</td>
        <td width="700"><h1 align="center">Sistema de Eventos Culturales</h1>
          <h3 align="center">Gestion de Eventos</h3>
		  <h1 align="center">&nbsp;</h1>
          <p align="center">Eventos Registrados</p>
		  <table cellspacing="20" align="center">
					<tr>
								<td width="120"><strong>Nombre</strong></td>
								<td width="120"><strong>Descripción</strong></td>
								<td width="150"><strong>Establecimiento</strong></td>
								<td width="100"><%= %></td>
								<td width="100"><%= %></td>
								<td width="100"><%= %></td>
					</tr>
			  <% @establecimientos.each do |establecimiento| %>
				<% @eventos = establecimiento.eventos %>
				<% @eventos.each do |evento| %>
							<tr>
								<td width="120"><%= evento.nombre %></td>
								<td width="120"><%= evento.descripcion %></td>
								<td width="150"><%= evento.establecimiento.nombre %></td>
								<td width="100"><%= link_to 'Mostrar', evento %></td>
								<td width="100"><%= link_to 'Editar', edit_evento_path(evento) %></td>
								<td width="100"><%= link_to 'Eliminar', evento, method: :delete, data: { confirm: '¿Está segur@?' } %></td>
							</tr>
		 
				<% end %>
			  <% end %>
		 </table>
        <p></p></td>
      </tr>
    </table>
    <h1 align="center">&nbsp;</h1>
    <!-- end .content --></div>
  <!-- end .container --></div>
</body>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', controller: "login", action: "login" %>
